body {
  font-family: 'Vesper Libre', serif;
  font-weight:600;
  font-size: 2em;
  color: #EEE5E9;
  padding: 20px;
  background-image: url("img/party1.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment:fixed;
}

#logo {
  font-size: 60px;
}

#logo a {
  text-decoration: none;
}
#vertical-font {
  color: #fff;
  text-decoration: none;
  padding: 200px 100px 200px 200px;
  margin: 0px;
  transform: rotate(90deg);
  transform-origin: center top 5;
  display: block;
  width: 60px;
  position:relative;
}

h1 a {
  text-decoration: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

#events, #exclusive, #who {
  padding: 0px;
  margin: 0px;
}

#events p, #exclusive p, #who p {
  font-size:20px;
  padding: 0px 40px 0px 40px;
  text-align: center;
}


#events a {
  text-decoration: none;
}

footer {
  margin-top: 270px;
  font-size: 10px;
  opacity: 0.4;
}
